{% extends "base/base.html.twig" %}

{% block content %}
    <section class="containerHome">
        {% for id, user in array %}
            {% if id%3 == 0 %}
                {% set color = 'black' %}
            {% else %}
                {% set color ='white' %}
            {% endif %}
            <article class="lastUsers {{ color }}">
                <a href="{{ path('profile', {'id':id }) }}">
                    <div class="imgLastUsers">
                        <img src="{{ img[id] }}" alt="profile">
                    </div>
                    <div class="lastUsersContent">
                        <p><span>Nom complet : </span> {{ user.name }}</p>
                        <p><span>Dit : </span>{{ user.shortname }}</p>
                        <p><span>Etudes : </span>{{ user.reknown }}</p>
                    </div>
                </a>
            </article>
        {% endfor %}
    </section>
{% endblock %}